<!--START OF NAVIGATION BAR-->
<nav class="navbar">
  <ul>
    <li><img src="../assets/images/logo-withtext.png" /></li>
  </ul>
</nav>
<!--END OF NAVIGATION BAR-->

<!--START OF LOGIN FORM-->
<div class="login-form-container">
  <div class="user-login-form">
    <h3><b>WELCOME BACK, TIGER</b></h3>
    <hr class="login-hr" />
  </div>
  <div>
    <label for="username"><b>USERNAME</b></label>
  </div>
  <div class="user-login-form">
    <input
      class="user-login-field"
      type="text"
      placeholder="Enter your username"
      name="username"
      required
    />
  </div>

  <div>
    <label for="password"><b>PASSWORD</b></label>
  </div>
  <div class="user-login-form">
    <input
      class="user-login-field"
      type="password"
      placeholder="Type your password"
      name="password"
      required
    />
  </div>

  <div class="user-login-form">
    <button class="btn-main" type="submit" [routerLink]="['/user-profile']">
      LOGIN
    </button>
  </div>

  <div class="user-login-form">
    <p class="signup-text">DON'T HAVE AN ACCOUNT?</p>
  </div>
  <div class="user-login-form">
    <button class="btn-signup" type="submit" [routerLink]="['/signup']">
      SIGN UP
    </button>
  </div>

  <div class="user-login-form">
    <p class="admin-text">DO YOU HAVE AN ADMIN ACCOUNT?</p>
  </div>
  <div class="user-login-form">
    <button class="btn-admin" type="submit" [routerLink]="['/admin-login']">
      ADMIN
    </button>
  </div>
</div>
