<!--START OF NAVIGATION BAR-->
<nav class="navbar">
  <ul>
    <li><img src="../assets/images/logo-withtext.png" /></li>
  </ul>
</nav>
<!--END OF NAVIGATION BAR-->

<!--START OF LOGIN FORM-->
<div class="admin-login-form-container">
  <div class="admin-login-form">
    <h3><b>WELCOME BACK, ADMIN</b></h3>
    <hr class="admin-login-hr" />
  </div>
  <div>
    <label for="username"><b>USERNAME</b></label>
  </div>
  <div class="admin-login-form">
    <input
      class="admin-login-field"
      type="text"
      placeholder="Enter your username"
      name="username"
      required
    />
  </div>

  <div>
    <label for="password"><b>PASSWORD</b></label>
  </div>
  <div class="admin-login-form">
    <input
      class="admin-login-field"
      type="password"
      placeholder="Type your password"
      name="password"
      required
    />
  </div>

  <div class="admin-login-form">
    <button class="btn-main" type="submit">LOGIN</button>
  </div>

  <div class="admin-login-form">
    <p class="user-text">USE YOUR PERSONAL ACCOUNT?</p>
  </div>
  <div class="admin-login-form">
    <button class="btn-user" type="submit" [routerLink]="['/user-login']">
      USER LOGIN
    </button>
  </div>
</div>
